---
export interface Props {
    codeId?: string;
}

const { codeId = "display-room-code" } = Astro.props;
---

<div class="room-code">
    <h3>Room Code</h3>
    <div class="code" id={codeId}></div>
    <p>Share this code with other players</p>
</div>